body {
  background: #212121;
  font-family: Roboto;
  color: white;
  margin: 0;
  height: 10000px;
}

.leaderboard {
  display: flex;
  margin: 20px;
}

.toprow {
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 280px;
  padding: 0 4px;
}

.places {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  .place {
    margin: 4px 0;
    height: 64px;
    display: flex;
    align-items: center;
    color: rgb(128, 128, 128);
    &:first-child {
      color: rgb(247, 226, 121);
    }
    &:nth-child(2) {
      color: rgb(190, 199, 210);
    }
    &:nth-child(3) {
      color: rgb(224, 148, 86);
    }
  }
}

.players {
  position: relative;
}

.entry {
  transition: transform 0.3s ease-in-out;
  position: absolute;
  height: 64px;
  border-radius: 16px;
  background: #303030;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 288px;
  padding: 0 8px 0 8px;
  margin: 4px 0;
  .name, .time {
    display: flex;
    align-items: center;
  }
  .score {
    background: #424242;
    border-radius: 16px;
    height: 32px;
    padding: 0 16px;
    display: flex;
    align-items: center;
  }
}

.list {
  position: relative;
}

.count {
  position: absolute;
  bottom: 2px;
  right: 8px;
  &.done {
    color: #4CAF50;
  }
  text-shadow: -1px 1px black;
}

.dungeons {
  height: 32px;
  display: flex;
}

.dungeon {
  height: 32px;
  width: 32px;
  background-size: cover;
}



.deku {
  background-image: url(./images/deku.png);
}

.dc {
  background-image: url(./images/dc.png);
}

.jabu {
  background-image: url(./images/jabu.png);
}

.forest {
  background-image: url(./images/forest.png);
}

.fire {
  background-image: url(./images/fire.png);
}

.water {
  background-image: url(./images/water.png);
}

.shadow {
  background-image: url(./images/shadow.png);
}

.spirit {
  background-image: url(./images/spirit.png);
}

.ganon {
  background-image: url(./images/ganon.png);
}
